CHAIN_CA_PEM=/home/hour/restore/chain-ca.pem
AWS_ACCESS_KEY_ID=53RP7WOMHMS8SCHXW7RVXS4OLT41EJJG1UAM78A87UV2RODGL7CGRB78M437AZJNZ3KG0J17H0MJQE440BB6HCMC6QCOADCBGSKF0YFQ5
AWS_SECRET_ACCESS_KEY=E6LE13EU2SQM7C6Y4L3FGMHJ85Y67LO5D3
RESTIC_REPOSITORY=s3:https://m2-lr1-dev-vm211217.mip.storage.hpecorp.net:9000/notebook3
RESTIC_PASSWORD=Ezmerald
DEPLOYMENT=plat2
